{% extends 'base.html' %}

{% block title %}게시판{% endblock %}

{% block content %}
<div class="container">
    <!-- 게시글 목록 -->
    <div id="post-list">
        {% for post in posts %}
        <div class="box">
            <div class="columns is-mobile">
                <div class="column is-1">{{ post.order }}</div>
                <div class="column is-2">{{ post.category }}</div>
                <div class="column is-2">{{ post.nickname }}</div>
                <div class="column is-7">{{ post.title }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- 페이지 네비게이션 -->
    <div id="pagination" class="has-text-centered">
        <ul class="pagination">
            {% for page_num in range(1, total_pages + 1) %}
            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="field is-pulled-right">
        <a href="/post/create" class="button is-info" id="post-btn">글쓰기</a>
    </div>

    <!-- 검색창 -->
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input" type="text" id="search" placeholder="검색어를 입력하세요">
        </div>
        <div class="control">
            <button class="button is-info" id="search-btn">
                검색
            </button>
        </div>
    </div>
</div>

{% endblock %}
