{% extends 'base.html' %} {% block title %}로그인{% endblock %} {% block content
%}
<div class="container">
    <form id="login-form" method="POST" action="/login">
        <div class="field">
          <label class="label">ID</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="id"
              name="id"
              placeholder="ID 입력"
              required
            />
          </div>
        </div>
      
        <div class="field">
          <label class="label">비밀번호</label>
          <div class="control">
            <input
              class="input"
              type="password"
              id="pw"
              name="pw"
              placeholder="비밀번호 입력"
              required
            />
          </div>
        </div>
      
        <div class="field">
          <button class="button is-success is-fullwidth" type="submit">
            로그인
          </button>
        </div>
      </form>

  {% if error %}
  <div class="notification is-danger">{{ error }}</div>
  {% endif %}
</div>

<script>
</script>
{% endblock %}
