{% extends 'base.html' %} {% block title %}메인 페이지{% endblock %} {% block
content %}
<div class="container has-text-centered">
  <h1 class="title is-3">안녕하세요, {{ nickname }}님!</h1>

  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" placeholder="Find a repository">
    </div>
    <div class="control">
      <button class="button is-info">
        Search
      </button>
    </div>
  </div>

  <div class="buttons is-centered">
    <a href="/board/free" class="button is-light is-rounded">자유 게시판</a>
    <a href="/board/dev" class="button is-light is-rounded">개발 게시판</a>
    <a href="/board/health" class="button is-light is-rounded">헬스 게시판</a>
    <a href="/board/market" class="button is-light is-rounded">마켓 게시판</a>
    <a href="/board/qna" class="button is-light is-rounded">질문 게시판</a>
  </div>
</div>

<script>
  $(document).ready(function () {
    console.log("메인 페이지 진입 완료!");
  });
</script>
{% endblock %}
